{% extends 'base.html' %}

{% block title %}
Labs
{% endblock %}

{% block content %}
<div class="main-container flex-container">
    <div class="flex-left">
        <div class="container">
            <div class="container-header">
                <h2>Calendar</h2>
            </div>
            <div class="container-content">
                <iframe
                    src="https://calendar.google.com/calendar/embed?src=ad6eceb2ac686b0cde411342a22b68c86720d17f776e42ea47075e1e61c57958%40group.calendar.google.com&ctz=Asia%2FAmman"
                    style="width: 100%; height: 600px; border: none;" loading="lazy"></iframe>
            </div>
        </div>
    </div>
    <div class="flex-right">
        <div class="container">
            <div class="container-header">
                <h2>Upcoming Events</h2>
            </div>  
            <div class="container-content">
                <h3>Here are your upcoming events, including lab sessions, assignments, and exams.</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}