{% extends 'base.html' %}

{% block title %}
Lecture Notes
{% endblock %}

{% block content %}
<div class="main-container">
    <div class="flex-container">
        <div class="flex-left-half">
            <div class="container">
                <div class="container-header">
                    <h2>Ch23: Electric field</h2>
                </div>
                <div class="container-content">
                    <a target="_blank" rel="noreferrer" href="{{ url_for('static', filename='assets/chapter23.pdf')}}">Download LectureNotes</a>
                </div>
            </div>
        </div>

        <div class="flex-right-half">
            <div class="container">
                <div class="container-header">
                    <h2>Ch24: Gauss’s law</h2>
                </div>
                <div class="container-content">
                    <a target="_blank" rel="noreferrer" href="{{ url_for('static', filename='assets/chapter24.pdf')}}">Download LectureNotes</a>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-container">
        <div class="flex-left-half">
            <div class="container">
                <div class="container-header">
                    <h2>Ch25: Electric Potential</h2>
                </div>
                <div class="container-content">
                    <a target="_blank" rel="noreferrer" href="{{ url_for('static', filename='assets/chapter25.pdf')}}">Download LectureNotes</a>
                </div>
            </div>
        </div>

        <div class="flex-right-half">
            <div class="container">
                <div class="container-header">
                    <h2>Ch26: Capacitance and dielectrics</h2>
                </div>
                <div class="container-content">
                    <a target="_blank" rel="noreferrer" href="{{ url_for('static', filename='assets/chapter26.pdf')}}">Download LectureNotes</a>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-container">
        <div class="flex-left-half">
            <div class="container">
                <div class="container-header">
                    <h2>Ch27: Current and resistance</h2>
                </div>
                <div class="container-content">
                    <a target="_blank" rel="noreferrer" href="{{ url_for('static', filename='assets/chapter27.pdf')}}">Download LectureNotes</a>
                </div>
            </div>
        </div>

        <div class="flex-right-half">
            <div class="container">
                <div class="container-header">
                    <h2>Ch28: Direct Currrent circuits</h2>
                </div>
                <div class="container-content">
                    <a target="_blank" rel="noreferrer" href="{{ url_for('static', filename='assets/chapter28.pdf')}}">Download LectureNotes</a>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-container">
        <div class="flex-left-half">
            <div class="container">
                <div class="container-header">
                    <h2>Ch29: Magnetic fields</h2>
                </div>
                <div class="container-content">
                    <a target="_blank" rel="noreferrer" href="{{ url_for('static', filename='assets/chapter29.pdf')}}">Download LectureNotes</a>
                </div>
            </div>
        </div>

        <div class="flex-right-half">
            <div class="container">
                <div class="container-header">
                    <h2>Ch30: Sources of Magnetic fields</h2>
                </div>
                <div class="container-content">
                    <a target="_blank" rel="noreferrer" href="{{ url_for('static', filename='assets/chapter30.pdf')}}">Download LectureNotes</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}